@page "/dashboard"
@using Common.Dtos.Profile 
@using Frontend.Services.Contracts
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@inject IProfileService ProfileService
@inject IDashboardService DashboardService
@rendermode InteractiveServer

@if (profiles == null) 
{ 
    <h2>Loading...</h2> 
}
else if (!profiles.Any()) 
{ 
    <h2>No profiles found.</h2>
}
else { 
    <h3 class="dashboard-title">HR Recruitment Dashboard </h3> 
    <div class="dashboard-container">
        <div class="dashboard-stats">
            <div class="stat-item">
                <span class="stat-title">Total Profiles</span>
                <h1 class="stat-value">@totalProfiles</h1>
            </div>
            <div class="stat-item">
                <span class="stat-title">Total jobs</span>
                <h1 class="stat-value">None</h1>
            </div>
            <div class="stat-item">
                <span class="stat-title">Total Jobs open</span>
                <h1 class="stat-value">None</h1>
            </div>
            
        </div>

        <div class="dashboard-graph">
            <h4>Most Common Skills</h4>
            <canvas id="commonSkills"></canvas>
            
            <h4>Most Common Skills on Jobs</h4>
            
        </div>
        
        <div class="dashboard-graph">
            <h4>Application Received by Source</h4>
            <canvas id="applicationSourceChart"></canvas>
        </div>

        <div class="dashboard-stats">
            <div class="stat-item">
                <span class="stat-title">Offer Acceptance Ratio</span>
                <h1 class="stat-value">79%</h1>
            </div>
            <div class="stat-item">
                <span class="stat-title">Offers Accepted</span>
                <h1 class="stat-value">19</h1>
            </div>
            <div class="stat-item">
                <span class="stat-title">Offers Provided</span>
                <h1 class="stat-value">24</h1>
            </div>
        </div>

        <div>
            <label for="statusSelector">Select Status:</label>
            <select id="statusSelector" @onchange="OnStatusChanged">
                <option value="Approved">Approved</option>
                <option value="Pending">Pending</option>
                <option value="Rejected">Rejected</option>
            </select>
        </div>

        
        <div class="applicant-table">
            <h4>Applicants</h4>
            <table>
                <thead>
                <tr>
                    <th>Candidate</th>
                    <th>Location</th>
                    <th>Interview State</th>
                    <th>See profile</th>
                </tr>
                </thead>
                <tbody>
                <!--Mostra até 10 perfis - onclick vai para o perfil (trocar para candidatos quando tiver funcionalidade)-->
                @foreach (var profile in profiles.Take(10))
                {
                    <tr>
                        <td>@profile.FirstName @profile.LastName</td>
                        <td>@profile.Location</td>
                        <td><span class="status approved">Approved</span></td>
                        <td><a href="profile/@profile.ProfileId">More</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div> 
}

@code {
    
    private IJSObjectReference? module;
    private IEnumerable<ProfileDto>? profiles;
    private IEnumerable<string>? skillNames;
    private int totalProfiles;
    private string selectedStatus = "Approved";
    
    private void OnStatusChanged(ChangeEventArgs e)
    {
        selectedStatus = e.Value.ToString();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
            try
            {
                module = await JSRuntime.InvokeAsync<IJSObjectReference>(
                    "import", "./Components/Pages/Dashboard/Dashboard.razor.js");
                Console.WriteLine("JS module loaded");

                
                if (module != null && skillNames != null)
                {
                    await InitializeCharts();
                }

            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error initializing charts: {ex.Message}");
            }
        
    }
    private async Task InitializeCharts()
    {
        if (module != null && skillNames != null)
        {
            await module.InvokeVoidAsync("Dashboard.initCharts", "#commonSkills", skillNames);
        }
    }
    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine("OnInitializedAsync started");

            profiles = await ProfileService.GetProfiles();

            
            var profileSkills = await DashboardService.GetProfileSkills();
            skillNames = profileSkills.Select(ps => ps.SkillName).ToList();  

            totalProfiles = profiles.Count();

            Console.WriteLine($"Profiles loaded: {totalProfiles}");
            Console.WriteLine($"Skill names loaded: {string.Join(", ", skillNames)}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading profiles: {ex.Message}");
        }
    }

    
}