.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    z-index: 1000;
}

.chatbot-button {
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.chatbot-button:hover {
    background-color: #4b0082;
}

.chatbot-chat {
    width: 400px;
    height: 80vh;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #800080;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.chat-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #800080 #f1f1f1;
}

.chat-body::-webkit-scrollbar {
    width: 6px;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: #800080;
    border-radius: 40px;
}

.chat-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-footer button {
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.chat-footer button:hover {
    background-color: #4b0082;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    display: flex;
}

.message.person {
    background-color: #e0f7fa;
    align-self: flex-end;
    border: 1px solid #00acc1;
    margin-left: 10px;
    text-align: right;
}

.message.ai {
    align-self: flex-start;
    text-align: start;
    border: 1px solid #d3d3d3;    
}

.suggestions {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    bottom: 40px;
    margin-bottom: 10px;
    z-index: 1000;
}

.suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}
