.modal-header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e5e5e5;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.modal-section {
    padding: 20px;
}

.vertical-line {
    width: 3px;
    height: 70%;
    background-color: #8c8c8c;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para a seção de filtros e tabela */
.filter-section {
    background-color: #f8f9fa;
    border: 1px solid #e3e6f0;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.filter-section .form-label {
    font-weight: bold;
}

.filter-section .form-control {
    border-radius: 0.25rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(248,249,250);
}

.table {
    margin-top: 20px;
}