@page "/access-denied"

<PageTitle>Access Denied</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder">You don't have permission to access this page.</span>
                </div>
            </div>
        </div>
    </div>
</div>

