@layout LoginLayout

@page "/register"
@using Frontend.Components.Layout

<PageTitle>Register</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="welcome-text">Escolha seu tipo de registro</h2>
            <div class="choice-buttons">
                <NavLink href="/register-client">
                    <button class="btn choice-btn">Cliente</button>
                </NavLink>

                <NavLink href="register-talent">
                    <button class="btn choice-btn">Talento</button>
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    
}

