@page "/register-talent"
@using ESOF.WebApp.DBLayer.Entities
@using Frontend.Components.Layout
@using Frontend.Models.ViewModels
@using Frontend.Services.Contracts
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject IRegisterService RegisterService

<PageTitle>Register Talent</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body flex-column">
                        <div class="text-center mt-2">
                            <span class="text-danger fw-bolder">You don't have permission to access this page.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized Context="_">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 pt-4 pb-4 border">
                <EditForm Model="@Model" OnValidSubmit="HandleRegistration" FormName="RegisterTalentForm">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3 text-center">
                        <h3>Register Talent</h3>
                    </div>

                    <div class="mb-3">
                        <label>Name</label>
                        <InputText @bind-Value="Model.Name" class="form-control" placeholder="Name" />
                        <ValidationMessage For="() => Model.Name" />
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <InputText @bind-Value="Model.Email" class="form-control" placeholder="Email" />
                        <ValidationMessage For="() => Model.Email" />
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <InputText @bind-Value="Model.Password" class="form-control" placeholder="Password" type="password" />
                        <ValidationMessage For="() => Model.Password" />
                    </div>

                    <div class="mb-3">
                        <label>Confirm Password</label>
                        <InputText @bind-Value="Model.ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" />
                        <ValidationMessage For="() => Model.ConfirmPassword" />
                    </div>

                    <div class="mb-3">
                        <label>Phone</label>
                        <InputText @bind-Value="Model.Phone" class="form-control" placeholder="Phone" />
                        <ValidationMessage For="() => Model.Phone" />
                    </div>

                    <div class="mb-3">
                        <label>Address</label>
                        <InputText @bind-Value="Model.Address" class="form-control" placeholder="Address" />
                        <ValidationMessage For="() => Model.Address" />
                    </div>

                    <div class="mb-3">
                        <label>City</label>
                        <InputText @bind-Value="Model.City" class="form-control" placeholder="City" />
                        <ValidationMessage For="() => Model.City" />
                    </div>

                    <div class="mb-3">
                        <label>Country</label>
                        <InputText @bind-Value="Model.Country" class="form-control" placeholder="Country" />
                        <ValidationMessage For="() => Model.Country" />
                    </div>

                    <div class="mb-3">
                        <label>Postal Code</label>
                        <InputText @bind-Value="Model.PostalCode" class="form-control" placeholder="Postal Code" />
                        <ValidationMessage For="() => Model.PostalCode" />
                    </div>

                    <div class="mb-3">
                        <label>Area of Interest</label>
                        <InputText @bind-Value="Model.AreaOfInterest" class="form-control" placeholder="Area of Interest" />
                        <ValidationMessage For="() => Model.AreaOfInterest" />
                    </div>

                    <div class="mb-3 d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [SupplyParameterFromForm]
    public RegisterTalentModel Model { get; set; } = new();

    private string? GeneralError { get; set; }

    private async Task HandleRegistration()
    {
        Console.WriteLine("Registering talent...");
        Console.WriteLine(Model.AreaOfInterest);
        
        var (passwordHash, passwordSalt) = CreatePasswordHash(Model.Password);
        
        var user = new User
        {
            UserId = Guid.NewGuid(),
            Email = Model.Email,
            PasswordHash = passwordHash,
            PasswordSalt = passwordSalt,
            UserRoles = new List<UserRole>()
        };
        
        
        var talent = new Talent
        {
            TalentId = Guid.NewGuid(),
            Name = Model.Name,
            Phone = Model.Phone,
            Address = Model.Address,
            City = Model.City,
            Country = Model.Country,
            PostalCode = Model.PostalCode,
            AreaOfInterest = Model.AreaOfInterest,
            UserId = user.UserId
        };
        
        await RegisterService.RegisterTalentAsync(talent, user);
        Model = new RegisterTalentModel();
        GeneralError = null;
        NavigationManager.NavigateTo("/login");
        
    }
    
    private static (byte[] passwordHash, byte[] passwordSalt) CreatePasswordHash(string password)
    {
        using var hmac = new System.Security.Cryptography.HMACSHA512();
        var passwordSalt = hmac.Key;
        var passwordHash = hmac.ComputeHash(System.Text.Encoding.UTF8.GetBytes(password));
        return (passwordHash, passwordSalt);
    }
}
