@page "/faqs/{text?}/question/{questionId?}"
@using Frontend.Helpers
@using ESOF.WebApp.DBLayer.Entities.FAQ
@using ESOF.WebApp.DBLayer.Entities
@using Common.Dtos.FAQ
@attribute [StreamRendering]
@inject ApiHelper ApiHelper

<PageTitle>Jobs FAQ</PageTitle>

<div class="d-flex justify-content-between">
<h1>Job Name FAQ</h1>
    
</div>
<hr/>

<div>
    <div class="card shadow-lg mb-4">
        <div class="card-body">
            
        </div>
    </div>
    
    <div>
        
            
    </div>
</div>

@code {
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public string? QuestionId { get; set; }
    
    private string[]? _userEmails;
    private QuestionDto _question;
    private string _selectedJobId = "1";

    protected override async Task OnInitializedAsync()
    {
    }

    private void SubmitQuestion()
    {
    }
}
