@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

.page{
    background-color: #1C0F30;
}

.top-row{
    visibility: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.5px;
}

.containerSelectJob {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1C0F30;
    letter-spacing: 1.5px;
}

.containerTitulo {
    margin-bottom: 60px;
    margin-top: 30px;
}

.textoTitulo {
    color: #F6F2FF;
    font-size: 40px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

.containerBarraPesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.barraPesquisa {
    display: flex;
    height: 40px;
    width: 732px;
    background-color: #F6F2FF;
    border-radius: 20px;
    align-items: center;
}

.inputBarraPesquisa::placeholder {
    text-align: center;
    color: #CEB2FF ;
    font-size: 16px;
    letter-spacing: 1px;
}


.inputBarraPesquisa {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: 16px;
    color: #120A1F;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
}

.containerIconeLupa {
    color: #8A3FFC;
    margin-left: 15px;
    cursor: pointer;
}

.containerResultNumber{
    margin-top: 60px;
    padding-right: 200px;
    padding-left: 200px;
}

.textoResultNumber{
    color: rgba(206, 178, 255, 0.5);
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: start;
}

.containerTabela {
    padding-right: 200px;
    padding-left: 200px;
}
.containerImagem {
    text-align: center;
}

.containerTextoEmpty {
    margin-top: 12px;
    margin-left: 137px;
}

.textoEmpty{
    color: rgba(206, 178, 255, 0.5);
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 800;
}

.imagemJob {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}

.containerRowTituloTabela {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.containerTextoTabelas {
    width: 100%;
}

.textoRowTituloTabela {
    color: rgba(246, 242, 255, 0.80);
    font-size: 14px;
}

.linha {
    background-color: #FFFFFF;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.corLinhaPar {
    background-color: #1C0F30;
}

.corLinhaImpar {
    background-color: #230D3F;
}

.containerRowDadosTabela {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.textoRowDadosTabelaColuna1 {
    color: #8A3FFC;
    font-size: 14px;
}

.textoRowDadosTabela {
    color: rgba(246, 242, 255, 1);
    font-size: 14px;
}