@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

a {
    text-decoration: none;
    background-color: transparent;
}

a :hover{
    background-color: #8A3FFC;
}


h1 {
    margin-bottom: 0;
}

.page{
    background-color: #1C0F30;
}

.top-row{
    visibility: hidden;
}
.containerSelectProfile {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1C0F30;
    letter-spacing: 1.5px;
}

.containerTitulo {
    margin-bottom: 60px;
    margin-top: 30px;
}

.textoTitulo {
    color: #F6F2FF;
    font-size: 40px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}

.rowContainerFiltros{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.containerFiltros{
    height: 50px;
    border: solid;
    border-radius: 100px;
    border-width: 2px;
    border-color: #F6F2FF;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.containerFiltros.active {
    border-color: #8A3FFC;
}

.textoFiltros.active {
    color: #8A3FFC;
}

.textoFiltros{
    color: #F6F2FF;
    font-size: 14px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding-left: 23px;
    padding-right: 23px;
}

.containerBarraPesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.barraPesquisa {
    display: flex;
    height: 40px;
    width: 732px;
    background-color: #F6F2FF;
    border-radius: 20px;
    align-items: center;
}

.inputBarraPesquisa::placeholder {
    text-align: center;
    color: #CEB2FF ;
    font-size: 16px;
    letter-spacing: 1px;
}


.inputBarraPesquisa {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: 16px;
    color: #120A1F;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
}

.containerIconeLupa {
    color: #8A3FFC;
    margin-left: 15px;
    cursor: pointer;
}

.containerResultNumber{
    margin-top: 60px;
    padding-right: 200px;
    padding-left: 200px;
}

.textoResultNumber{
    color: rgba(206, 178, 255, 0.5);
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: start;
}

.containerTabela {
    padding-right: 200px;
    padding-left: 200px;
}

.containerRowTituloTabela {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.containerTextoTabelas {
    width: 100%;
}

.textoRowTituloTabela {
    color: rgba(246, 242, 255, 1);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.linha {
    background-color: #FFFFFF;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.corLinhaPar {
    background-color: #1C0F30;
}

.corLinhaImpar {
    background-color: #230D3F;
}

.containerRowDadosTabela {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}


.textoRowDadosTabelaColuna1 {
    color: rgba(246, 242, 255, 1);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.textoRowDadosTabela {
    color: rgba(246, 242, 255, 1);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 25px;
}