<div class="loading-container">
  <div class="loadingio-spinner-blocks-2by998twmg9">
    <div class="ldio-yzaezf3dcml">
      <div style='left:38px;top:38px;animation-delay:0s'></div>
      <div style='left:80px;top:38px;animation-delay:0.125s'></div>
      <div style='left:122px;top:38px;animation-delay:0.25s'></div>
      <div style='left:38px;top:80px;animation-delay:0.875s'></div>
      <div style='left:122px;top:80px;animation-delay:0.375s'></div>
      <div style='left:38px;top:122px;animation-delay:0.75s'></div>
      <div style='left:80px;top:122px;animation-delay:0.625s'></div>
      <div style='left:122px;top:122px;animation-delay:0.5s'></div>
    </div>
  </div>
</div>