@page "/Positions"
<h1>Positions</h1>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th colspan="4" style="text-align: center; background-color: #f0f0f0;">Positions Overview</th>
    </tr>
    <tr>
        <th>Position ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Billing Type</th>
    </tr>
    
    
    </thead>
    <tbody>
    </tbody>
</table>
