@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="Login" Color="ButtonColor.Link"> Login </button>
            <Button Color="ButtonColor.Primary" Outline="true" @onclick="Register"> Register </Button>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void Register()
    {
        NavigationManager.NavigateTo("/Register");
    }

    private void Login()
    {
        NavigationManager.NavigateTo("/Login");
    }
}