@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@inherits Frontend.Components.Pages.SearchBase

<form method="get" @onsubmit="HandleSubmitAsync">
    <input type="text" @bind="searchText" placeholder="SearchText" name="searchresults?searchText"/>
    <button type="submit">OK</button>
    
</form>

@if (Profile == null)
{
<h2>Loading...</h2>
}
else
{
// <h2>@Profile.FirstName</h2>
}

@code {
private string searchText { get; set; } = string.Empty;

private async Task HandleSubmitAsync()
{
Console.WriteLine(searchText);

Navigation.NavigateTo($"/searchresults?searchText={searchText}");

await Task.CompletedTask;
}

}
