@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using ESOF.WebApp.DBLayer.Entities
@using Frontend.Components.Pages
@using Frontend.Services
@using Frontend.Services.Contracts
@inherits SearchBase


<div class="search-container">
    <form method="get" action="/searchresults" class="search-form">
        <input type="text" @bind="searchText" placeholder="Search Text" name="searchText" class="search-input"/>
        <div class="button-container">
            <select name="skill" @bind="skill" class="custom-select">
                <option value="">Skills</option>
                @if (Skills != null && Skills.Any())
                {
                @foreach (var skill in Skills)
                {
                <option value="@skill.Name">@skill.Name</option>
                }
                }
            </select>
        </div>
        <button type="submit" >Ok</button>
    </form>

   
</div>


<!--@if (Profile == null)
{

//<h2>Loading...</h2>

}
else
{
// <h2>@Profile.FirstName</h2>
}-->


@code {

private string searchText { get; set; } = string.Empty;
private string skill { get; set; } = string.Empty;
private bool searchPerformed = false;

[Inject] public ISearchService SearchService { get; set; }

protected async Task PerformSearch()
{
    searchPerformed = true;
}

}
