@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Mvc.Localization
@inherits Frontend.Components.Pages.SearchBase

<div class="search-container">
    <form method="get" action="/searchresults" class="search-form">
        <input type="text" @bind="searchText" placeholder="SearchText" name="searchText" class="search-input"/>
    </form>
</div>

@if (Profile == null)
{

//<h2>Loading...</h2>

}
else
{
// <h2>@Profile.FirstName</h2>
}

@code {

private string searchText { get; set; } = string.Empty;

}
