@page "/search/job"
@using Frontend.Services.Contracts
@using Microsoft.AspNetCore.Components
@inherits SearchBase
@inject NavigationManager Navigation


@if ( Jobs != null && Jobs.Any())
{
    <p>Jobs</p>

    <div class="search-results-container">
        @foreach (var job in Jobs)
        {
            <div class="person-entry">
                
                <div class="text-container">
                    <p class="person-name">@job.Position</p>
                    <p class="person-details">@job.Description - @job.Experience</p>

                </div>

            </div>
        }
    </div> 
}
else
{
    
    <div class="search-results-container">
        No Results Found
    </div> 
    
    
}


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name= "searchText")]
    public string searchText { get; set; }
    
}