@page "/MessageSent"

<link href="CssD17/MessageSent.css" rel="stylesheet"/>

<PageTitle>Declined</PageTitle>

<div class="paginaInterviewInvitation">
    <div class="contentRetanguloInvitation">
        <div class="containerImagem">
            <img src="images/messageSent.png" alt="Job Image" class="imagemGatoAborrecido"/>
        </div>
        <div class="containerTextoTitulo">
            <h1 class="textoTitulo">Sent</h1>
        </div>
        <div class="containerTextoSubtitulo">
            <h1 class="textoSubtitulo">The message has been sent.</h1>
        </div>
        <NavLink class="containerBotaoOk" href="SelectProfile">
            <h1 class="textoBotaoOk">Ok</h1>
        </NavLink>
    </div>
</div>
