@page "/RespostaConviteAccepted"

<link href="CssD17/RespostaConviteAccepted.css" rel="stylesheet"/>

<PageTitle>Submitted</PageTitle>

<div class="paginaInterviewInvitation">
    <div class="contentRetanguloInvitation">
        <div class="containerImagem">
            <img src="images/animaisVideoConferencia.png" alt="Job Image" class="imagemConferencia"/>
        </div>
        <div class="containerTextoTitulo">
            <h1 class="textoTitulo">Submitted</h1>
        </div>
        <div class="containerTextoSubtitulo">
            <h1 class="textoSubtitulo">We look forward to meeting you at your interview.</h1>
        </div>
    </div>
</div>
