@page "/RespostaConviteDecline"

<link href="CssD17/RespostaConviteDecline.css" rel="stylesheet"/>

<PageTitle>Declined</PageTitle>

<div class="paginaInterviewInvitation">
    <div class="contentRetanguloInvitation">
        <div class="containerImagem">
            <img src="images/gatoAborrecido.png" alt="Job Image" class="imagemGatoAborrecido"/>
        </div>
        <div class="containerTextoTitulo">
            <h1 class="textoTitulo">Declined</h1>
        </div>
        <div class="containerTextoSubtitulo">
            <h1 class="textoSubtitulo">Feel Free to Reach Out in the Future!</h1>
        </div>
    </div>
</div>
