@page "/roles/{roleId:guid}/users"
@using ESOF.WebApp.DBLayer.Entities
@using Frontend.Components.Layout
@using Frontend.Services.Contracts
@inject IUserService UserService
@inject IRoleService RoleService
@layout MainLayout

<PageTitle>Users with Role</PageTitle>

<div class="container mt-4">
    <h3>Users with Role: @_role?.Name</h3>

    <hr />

    @if (_users == null)
    {
        <p>Loading...</p>
    }
    else if (_users.Count == 0)
    {
        <p>No users found with this role.</p>
    }
    else
    {
        <ul class="list-group mt-3">
            @foreach (var user in _users)
            {
                <li class="list-group-item">@user.Email</li>
            }
        </ul>
    }
</div>

@code {
    [Parameter]
    public Guid RoleId { get; set; }

    private Role? _role;
    private List<User>? _users;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsersWithRole();
    }

    private async Task LoadUsersWithRole()
    {
        _role = await RoleService.GetRoleByIdAsync(RoleId);
        _users = await UserService.GetUsersByRoleAsync(RoleId);
    }
}