@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 text-center align-middle">
            <h2 class="welcome-text">Bem vindo à Smart Recruitment</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="login wrap">
                <div class="h1">Login</div>
                <input pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" placeholder="Email" id="email" name="email" type="text">
                <input placeholder="Password" id="password" name="password" type="password">
                <p><a class="forgot-pass-text" href="forgotpassword">Esqueceu a senha?</a></p>
                <input value="Login" class="btn" type="submit">
                <p class="forgot-pass-text">Não tem conta? <a href="register" class="forgot-pass-text">Registe-se</a></p>
            </div>            
        </div>
    </div>
</div>



