@page "/interview"
@using System.Net.Http
@using System.Net.Http.Json
@using ESOF.WebApp.DBLayer.Entities
@inject HttpClient Http

<h3>Interviews</h3>

@if (interviews == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>State</th>
            <th>Date & Hour</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var interview in interviews)
        {
        <tr>
            <td>@interview.InterviewState</td>
            <td>@interview.DateHour.ToString()</td>
            <td>@interview.Location</td>
        </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Interview> interviews;

    protected override async Task OnInitializedAsync()
    {
        interviews = await Http.GetFromJsonAsync<List<Interview>>("/api/Interviews");
    }

    public class Interview
    {
        public string InterviewState { get; set; }
        public DateTime DateHour { get; set; }
        public string Location { get; set; }
    }
}
