.button-container {
    display: flow;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    
}

.custom-select {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"%3e%3cpath fill="%23343a40" d="M2 0L0 2h4zM2 5L0 3h4z"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
}

.custom-select:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}