@page "/searchresults"
@using Microsoft.AspNetCore.Components
@inherits SearchBase
@inject NavigationManager Navigation

<div class="button-container">
   
</div>

<h3>Search Results</h3>

<p>You searched for: @searchText</p>

<div class="mb-3">
    @if (Profiles != null && Profiles.Any())
    {
    @foreach (var profile in Profiles)
    {
    <p> @profile.FirstName @profile.LastName </p>
    }
    }
    else
    {
    <p>No profiles found.</p>
    }
</div>



@code {
    [Parameter]
    [SupplyParameterFromQuery(Name= "searchText")]
    public string searchText { get; set; }
    
    [SupplyParameterFromQuery(Name= "skill")]
    public string SkillSelected { get; set; }
    
}
