@page "/searchresults/{SearchText}"
@using Microsoft.AspNetCore.Components

<h3>Search Resultsss</h3>

<p>You searched for: @SearchText</p>

@code {
    [Parameter]
    public string SearchText { get; set; }
}


