@page "/searchresults"  
@using Microsoft.AspNetCore.Components

<h3>Search Resultsss</h3>

<p>You searched for: @SearchText</p>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "searchText")]
    public string SearchText { get; set; }
}