<!--  
@page "/test"
@using Frontend.Components.Layout
@layout MainLayout

<EditForm Model="@_formModel" OnValidSubmit="HandleSubmit" FormName="testForm">
    <div class="mb-3 text-center flex-column">
        <label for="roleName">Role Name:</label>
        <input id="roleName" class="form-control" @bind:event="oninput" @bind-Value="_formModel.RoleName" placeholder="test" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private FormModel _formModel = new();

    private void HandleSubmit()
    {
        Console.WriteLine("Role name: " + _formModel.RoleName);
    }

    public class FormModel
    {
        public string RoleName { get; set; }
    }
}  -->