@page "/users2"
@using Frontend.Helpers
@using global::Helpers.Models
@attribute [StreamRendering]
@inject ApiHelper ApiHelper

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates showing data from the API.</p>

@if (_users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Permissions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var permission in user.PermissionsNames)
                    {
                        <span>@permission</span><br />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<UserWithPermissionsModel>? _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await ApiHelper.GetFromApiAsync<List<UserWithPermissionsModel>>("users/with_permissions");
    }
}